#guide_box_wrapper {
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
#guide_box {
	background:#FFF;
	width:360px;
	border-radius: 6px;
	pointer-events: auto;
}
.box_header {
	height: 50px;
	background:#E5E5E5;
	border-radius: 6px 6px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.box_header_text {
	font-weight: bold;
	font-size: 10pt; 
}
.box_main {
	min-height: 25px;
}
.box_main_text {
	font-size: 10pt; 
	margin: 15px 10px 15px 10px;
}
.box_footer {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column nowrap;
} 
#button_guidebox_ok {
	margin: 6px auto 6px auto;
	min-width: 120px;
}
.box_button_text {
	line-height: 25px;
	font-size: 10pt; 
	margin: auto 10px auto 10px;
	white-space: nowrap;
}

main {
	flex: 1 0 0px;
	display: flex;
	flex-flow: row nowrap;
}
#materials {
	flex: 1 1 0px;
	border-right: 1px solid #CCCCCC;
	display: flex;
	flex-flow: column nowrap;
}
#info {
	flex: 0 0 300px;
	display: flex;
	flex-flow: column nowrap;
}
#info_type {
	flex: 0 0 45px;
	display: flex;
	flex-flow: row nowrap;
}
#info_type div {
	flex: 0 0 50%;
	background: #FFF;
	line-height: 45px;
	display: flex;
    justify-content: center;
	font-family: "Segoe UI";
    font-size: 9pt;
	color: #666;
	font-weight: 600;
	box-sizing: border-box;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #CCCCCC;
}
#info_type > :last-child {
	border-right-width: 0px;
}
.info_type_selected {
	background: #F4F4F4 !important;
	box-sizing: border-box !important;
	border-top: 5px #DDD solid !important;
	border-bottom: 5px #DDD solid !important;
	line-height: 37px !important;
}
#info_type div:hover {
	cursor: pointer;
	background: #F0F0F0;
}
#materials_header {
	flex: 0 0 45px;
	background:#F8F8F8;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position:relative;
}
#materials_header_text {
	font-family: "Segoe UI";
	font-size: 10pt;
	margin: 0px 10px 0px 15px;
	white-space: nowrap;
}
#materials_header_filter {
	padding-left: 12px;
	opacity: 0.65;
	height: 100%;
}
#materials_header_filter:hover {
	cursor: pointer;
	opacity: 0.9;
}
.materials_header_filter_darken {
	background:#E0E0E0;
}
#materials_filter_text {
	font-family: "Segoe UI";
	font-size: 9pt;
	margin-right: 5px;
	/* color: #777; */
}
#materials_filter_image {
	width:15px;
	height:15px;
	content: url("img/filter.png");
	margin-right: 10px;
	margin-top: 2px;
}
#materials_filter_box {
	width: 250px;
	height: auto;
	position: absolute;
	top: 100%;
	right: 0px;
	border-left: ridge;
	border-right: ridge;
	border-bottom: ridge;
	border-top: 1px solid #CCCCCC;
	background: white;
	padding: 5px 5px 15px 5px;
	/*transition: height 0.3s ease-in-out;*/
}
.materials_filter_box_separator {
	border-top: 1px solid #CCCCCC;
	font-size: 10pt;
	padding-top: 10px;
}
#materials_filter_checkbox_box {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	margin: 10px 10px 0px 10px;
}
#materials_filter_checkbox_box div {
	flex: 0 0 50%;
	line-height: 25px;
}
#materials_filter_checkbox_box div input {
    position: relative;
	top: 3px;
	left: 5px;
}
#materials_filter_checkbox_box div span {
	display: inline-block;
    width: 55px;
}
#no_materials, #receiving_materials_status {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 10pt;
}
#input_file {
	font-size: 10pt;
	padding: 10px;
	border-bottom:1px solid #CCCCCC;
}
#edit_info {
	font-size: 9pt;
	color: #666;
	padding: 10px;
	border-bottom:1px solid #CCCCCC;
}
.info_box_wrapper {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	margin: 10px 10px 0px 10px;
}
.info_box_wrapper :nth-child(1) {
	font-size: 10pt;
	flex: 0 0 75px;
}
.info_box_wrapper :nth-child(2) {
	margin-left: 5px;
	font-size: 10pt;
	flex: 1 0 0px;
	width: 0px; /* иначе почему-то не работает; TODO исправить */
}
#main_info {
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}
#info_file_about {
	font-size: 8pt;
	padding: 10px;
	margin-top: 10px;
	border-top:1px solid #CCCCCC;
}
#info_placeholder {
	flex: 1 0 0px;
}
#add_file_button, #publish_file_button, #quit_button {
	flex: 0 0 auto;
	line-height: 25px;
    font-size: 10pt;
    margin: 0px 10px 10px 10px;
    white-space: nowrap;
}
.question_mark {
	background-image: url("img/question_mark.png");
	background-size: 100%;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	margin-left: 5px;
	opacity: 1;
	cursor: help;
}
.question_mark::after {
	/* background: rgba(0, 0, 0, 0.8); */
	background: #555;
	border-radius: 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: 0px;
	padding: 7px;
	position: absolute;
	left: -215px;
	width: 196px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	white-space: pre-line;
}
.question_mark:hover::after {
	opacity: 1;
	visibility: visible;
}

html {
	--width_title: 1.8fr;
	--width_f: 0.55fr;
	--width_s: 0.9fr;
	--width_t: 0.8fr;
	--width_uploader: 0.8fr;
	--width_uploaded: 1fr;
	--width_delete: 0.6fr;	
}
#materials_grid, #materials_grid_header {
	display:grid;
	grid-template-rows: repeat(auto-fill, 30px);
	grid-template-columns: [title] minmax(0%, var(--width_title)) [f] minmax(0%, var(--width_f)) [s] minmax(0%, var(--width_s)) [t] minmax(0%, var(--width_t)) [uploader] minmax(0%, var(--width_uploader)) [uploaded] minmax(0%, var(--width_uploaded)) [delete] minmax(0%, var(--width_delete));
}
#materials_grid_header {
	background:#F0F0F0;
	font-weight:bold;
	flex: 0 0 auto;
}
#materials_upload_grid {
	display:grid;
	grid-template-rows: repeat(auto-fit, 30px);
	border-bottom: 3px solid #DDD;
	overflow-y: overlay;
	grid-template-columns: [title] minmax(0%, var(--width_title)) [status_start] minmax(0%, var(--width_f)) [] minmax(0%, var(--width_s)) [] minmax(0%, var(--width_t)) [] minmax(0%, var(--width_uploader)) [status_end] minmax(0%, var(--width_uploaded)) [delete] minmax(0%, var(--width_delete));
	flex: 0 0 auto;
	height: 0px; /* js */
}
#materials_grid {
	overflow-y: overlay;
	flex: 0 1 auto;
}

.grid_item {
	line-height: 30px;
	height: 30px;
	padding: 0px 7px 0px 7px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.delete_button_faint {
	color: #444;
}
.delete_button_faint:hover {
	color: #000;
	cursor:pointer;
}
.js_shadowed {
	background:#F0F0F0;
}
.js_bold {
	font-weight: bold;
	box-sizing: border-box;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
/*.grid_item_title:hover, .grid_item_title:hover + div, .grid_item_title:hover + div + div, .grid_item_title:hover + div + div + div, .grid_item_title:hover + div + div + div + div, .grid_item_title:hover + div + div + div + div + div, .grid_item_title:hover + div + div + div + div + div + div {
	background:#F0F0F0;
}
.grid_item_f:hover - div {
	background:#F0F0F0;
}*/
.uploading_span {
	display: inline-block;
	width: 200px;
}
.uploading_progress_bar {
	display: inline-block;
	vertical-align: middle;
	width: calc((100% - 200px) * 0.9);
	height: 13px;
	background: #EEE;
	border-radius: 3px;
	overflow: hidden;
}
.uploading_progress_bar_inner {
	display: block;
	height: 100%;
	background: #CCC;
}
.uploading_erase { /* js */
	display: inline-block;
	vertical-align: middle;
	width:10px;
	height:10px;
	content: url("img/erase.png");
	margin-right: 5px;
	margin-top: 0px;
}